body {
	background: #BBBBBB;
	background-image: url(../images/nuoto1-gray.jpg);
	background-position: center;
	background-attachment: fixed;
}

a:hover {
	text-decoration: underline;
	font-size: 140%;
}

.regular {
	font: bold 11px "Verdana", Arial, Helvetica, sans-serif;
	color: #000;
}

#CallLogin,#CallRegister,#TotalAccess {
	cursor: pointer;
}

#TestOne {
	font: italic 10px "Verdana", Arial, Helvetica, sans-serif;
	font-size: small;
	color: #005500;
}

/** Header */
#swim-header, #swim-footer {
	font-size: small;
	font-weight: normal;
	align: center;
	color: #8699a4;
	background-color: #0d3349;
        background: url(/SwimmingPool/images/swim/swim12.jpg) repeat top center;
	width: 96%;
	left: 2%;
	height: 4em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	opacity: 0.9;
	z-index: 2;
}



#swim-footer { 	position: fixed; bottom: 0px; }

#swim-header { 	position: fixed; top: 2px; }


#swim-header li { width: 120px; height: 20px; text-align: center; list-style: none; color: AliceBlue; 
                  opacity: 0.6;  cursor: pointer;
	              border-radius: 10px;  -moz-border-radius: 10px;	-webkit-border-radius: 10px; }
#swim-header li:hover { font-style: italic; color: yellow;  opacity: 1.0;
	                    border-radius: 10px;  -moz-border-radius: 10px;	-webkit-border-radius: 10px;
                        background-position: bottom center; }

#swim-header ul { padding: 0; margin: 0; }

#swim-header > ul > li { float: left; list-style: none; position: relative; top: 30px;  }
#swim-header > ul > li > ul { position: relative; top: 3px; visibility : hidden; }
#swim-header > ul > li:hover ul{ visibility : visible; }

#swim-header > ul > li:first-child { font-size: x-medium;	font-style: bold; padding: 2px 1em; 
                                     cursor: crosshair;
                                     color: navy; opacity: 1.0;    position: relative; top: 0px; }
#swim-header > ul > li:first-child:hover { 	color: green; font-weight: normal; }



#TitoloListato1 {
	position: absolute;
	width: 360px;
	left: 90px;
	top: 60px;
	/* border-bottom: 1px solid black; */
	cursor: pointer;
	font-size: medium;
	color: navy;
	margin-bottom: 4px;
}
#Listato1 {
	position: absolute;
	width: 30%;
	left: 90px;
	top: 80px;
}

.water1 { background: url(/img/water1.jpg) no-repeat top center;  color: #006600; }
.green  { background: url(/img/green.jpg) no-repeat top center;   color: #006600; }
.orange { background: url(/img/orange.jpg) no-repeat top center;  color: #CC3300; }
.blu    { background: url(/img/blu.jpg) no-repeat top center;     color: #006699; }
.yellow { background: url(/img/yellow.jpg) no-repeat top center;  color: #FF9900; }
.purple { background: url(/img/purple.jpg) no-repeat top center;  color: #990066; }


.rgreen { background: url(/img/green.jpg)  repeat top center;  color: #006600; }
.rorange{ background: url(/img/orange.jpg) repeat top center;  color: #CC3300; }
.rblu   { background: url(/img/blu.jpg)    repeat top center;  color: #006699; }
.ryellow{ background: url(/img/yellow.jpg) repeat top center;  color: #FF9900; }
.rpurple{ background: url(/img/purple.jpg) repeat top center;  color: #990066; }


div#PreviewBox {
        background: #AAAAAA;
        color: #000000;
        position: fixed;
        width: 46%;
        height : 80%;
        left: 50%;
        bottom: 5%;
        font-size: small;
        font-color: blue;
        opacity: 0.8;
        border: thick groove green;   
        -webkit-border-radius: 16px;
         border-radius: 16px;
        padding: 10px;
        overflow: auto;
        z-index: 3;
}

div#InnerPreviewBox {
        background: #AAAAAA;
        color: #000000;
        position: relative;
        width: 92%;
        height : 92%;
        left: 4%;
        top: 4%;
        bottom: 10;
        font-size: small;
        font-color: blue;
        opacity: 0.8;
        padding: 10px;
        overflow: auto;
}



			
div#debug {
	font-size: small;
	background-color: #009966;
	border: 1px solid #000033;
	opacity: 0.7;
	width: 98%;
	height: 40%;
	position: fixed;
	bottom: 0;
	left: 1%;
	overflow: auto;
	z-index: 5;
}

div#debug .BtnMinimize {
	background-image: url(../images/arrowDown4.jpg );
	position: absolute;
	right: 1px;
	top: 1px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

div#debug .BtnClose {
	top: 21px;
}

.BtnClose {
	background-image: url(../images/close3.jpg );
	position: absolute;
	right: 1px;
	top: 1px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

div#error {
	font-size: small;
	background-color: #ff0000;
	border: 1px solid #660000;
	display: none;
	opacity: 0.9;
	width: 80%;
	height: 40%;
	position: fixed;
	bottom: 30%;
	left: 10%;
	overflow: auto;
	z-index: 9;
}

div#info {
	background-image: url(../images/swim/swim9.jpg);
	color: black;
	background-color: #66aa66;
	position: fixed;
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: medium;
	font-weight: bolder;
	opacity: 0.9;
	border: thick groove green;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 10px;
	overflow: auto;
	z-index: 8;
}

div#HelpBox {
	font-size: small;
	font-style: italic;
	background-color: #ffff99;
	border: 1px solid #006600;
	opacity: 0.9;
	width: 40%;
	height: 20%;
	position: absolute;
	padding: 10px;
	overflow: auto;
	-webkit-border-radius: 15px;
	overflow: auto;
	z-index: 9;
}



a#mailme {
	position: relative;
	left: 100%;
	bottom: 0;
	margin-top: -40px;
	margin-left: -50px;
	display: block;
	height: 40px;
	width: 40px;
	background: url(/images/3demail-2.gif) bottom right no-repeat;
	text-decoration: none;
}


div.titolo {
	display: block;
	color: yellow;
	height: 50px;
	margin-top: 0px;
	text-transform: none;
	font-size: x-large;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: oblique;
	font-variant: normal;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	text-indent: inherit;
	background: url(/images/300_marcia.gif) top left;
}

div.titolo2 {
	text-align: center;
	display: block;
	color: black;
	margin-top: 0em;
}

div.pleonastico {
	color: grey;
	font-size: small;
	font-style: italic;
	white-space: pre;
	direction: rtl;
}

div.introduzione {
	font-size: medium;
	white-space: pre;
	direction: ltr;
}

div.src_code {
	font-size: small;
	white-space: normal;
	direction: ltr;
}

span#TotalAccess {
	background-color: green;
	padding: 2px;
	font-size: small;
	color: #0000AA;
	height: 20px;
	width: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#ChildBox {
	background-image: url(../images/nuoto1.jpg);
	color: blue;
	position: fixed;
	width: 400px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	font-size: small;
	opacity: 0.9;
	border: thick groove green;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	padding: 10px;
	overflow: auto;
	z-index: 6;
}

div#InnerChildBox {
	background-image: url(../images/nuoto1.jpg);
	color: black;
	position: relative;
	width: 90%;
	height: 90%;
	left: 5%;
	bottom: 5%;
	font-size: small;
	opacity: 0.9;
	padding: 10px;
	overflow: auto;
}

div#InnerChildBox label {
   width : 200px;
   /* border: thick solid olive; */
}


#StatusFormRegister,#StatusFormLogin {
	text-align: center;
	text-decoration: underline;
	color: blue;
}


      
      
.volantino_month {
		  font_weight: bold;
          width: 100px;
		  /* border-bottom: 1px solid black; */
		  margin-top: 3px;
		  }
		  	  
 .volantino:hover { 
		  cursor: pointer; 
		  color: blue; 
		  text-decoration: underline;
		  }	
.old_data {  color: gray; font_weight: lighter; }
.current_data { color: red; font_weight: 900; border-bottom: 1px dotted gray; }
.future_data { color: green; font_weight: normal;}
     
     
		  

    
    
